.container {
  width: 300px;
  height: 320px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* .marker {
  width: 20px;
  height: 20px;
}

.marker-analog {
  width: 10px;
  height: 20px;
  color: blue

} */